appdirs==1.4.3
astroid==2.2.5
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
cssselect==1.0.3
distlib==0.3.0
enum34==1.1.6
filelock==3.0.12
future==0.18.2
idna==2.8
importlib-metadata==1.5.0
isort==4.3.20
lazy-object-proxy==1.4.1
lxml==4.3.4
mccabe==0.6.1
pyaes==1.6.1
pyasn1==0.4.5
pylint==2.3.1
requests==2.22.0
rsa==4.0
six==1.12.0
soupsieve==1.9.2
Telethon==1.9.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==20.0.13
vk-api==11.4.0
wrapt==1.11.2
zipp==3.1.0
